atomLambda_1(A) :- se(A).
atomLambda_2(A) :- s_3(A).
atomLambda_3(A) :- i(A).
atomLambda_4(A) :- o_2(A).
atomLambda_5(A) :- si(A).
atomLambda_6(A) :- hg(A).
atomLambda_7(A) :- n_ar(A).
atomLambda_8(A) :- br(A).
atomLambda_9(A) :- n_am(A).
atomLambda_10(A) :- cl(A).
atomLambda_11(A) :- ag(A).
atomLambda_12(A) :- c_2(A).
atomLambda_13(A) :- n_pl3(A).
atomLambda_14(A) :- cd(A).
atomLambda_15(A) :- rh(A).
atomLambda_16(A) :- zn(A).
atomLambda_17(A) :- n_1(A).
atomLambda_18(A) :- as(A).
atomLambda_19(A) :- s_o2(A).
atomLambda_20(A) :- au(A).
atomLambda_21(A) :- eu(A).
atomLambda_22(A) :- n_3(A).
atomLambda_23(A) :- cr(A).
atomLambda_24(A) :- s_o(A).
atomLambda_25(A) :- sb(A).
atomLambda_26(A) :- bi(A).
atomLambda_27(A) :- s_2(A).
atomLambda_28(A) :- sn(A).
atomLambda_29(A) :- f(A).
atomLambda_30(A) :- o_3(A).
atomLambda_31(A) :- o_co2(A).
atomLambda_32(A) :- fe(A).
atomLambda_33(A) :- p_3(A).
atomLambda_34(A) :- pt(A).
atomLambda_35(A) :- v(A).
atomLambda_36(A) :- co(A).
atomLambda_37(A) :- pb(A).
atomLambda_38(A) :- er(A).
atomLambda_39(A) :- pd(A).
atomLambda_40(A) :- c_3(A).
atomLambda_41(A) :- na(A).
atomLambda_42(A) :- c_1(A).
atomLambda_43(A) :- ni(A).
atomLambda_44(A) :- ge(A).
atomLambda_45(A) :- mn(A).
atomLambda_46(A) :- c_ar(A).
atomLambda_47(A) :- n_2(A).
atomLambda_48(A) :- cu(A).
atomLambda_49(A) :- n_4(A).
bondLambda_1(A) :- 1(A).
bondLambda_2(A) :- am(A).
bondLambda_3(A) :- 2(A).
bondLambda_4(A) :- 3(A).
bondLambda_5(A) :- ar(A).
0.0 atomKappa_C1(A) :- atomLambda_1(A).
0.0 atomKappa_C1(A) :- atomLambda_2(A).
0.0 atomKappa_C1(A) :- atomLambda_3(A).
0.0 atomKappa_C1(A) :- atomLambda_4(A).
0.0 atomKappa_C1(A) :- atomLambda_5(A).
0.0 atomKappa_C1(A) :- atomLambda_6(A).
0.0 atomKappa_C1(A) :- atomLambda_7(A).
0.0 atomKappa_C1(A) :- atomLambda_8(A).
0.0 atomKappa_C1(A) :- atomLambda_9(A).
0.0 atomKappa_C1(A) :- atomLambda_10(A).
0.0 atomKappa_C1(A) :- atomLambda_11(A).
0.0 atomKappa_C1(A) :- atomLambda_12(A).
0.0 atomKappa_C1(A) :- atomLambda_13(A).
0.0 atomKappa_C1(A) :- atomLambda_14(A).
0.0 atomKappa_C1(A) :- atomLambda_15(A).
0.0 atomKappa_C1(A) :- atomLambda_16(A).
0.0 atomKappa_C1(A) :- atomLambda_17(A).
0.0 atomKappa_C1(A) :- atomLambda_18(A).
0.0 atomKappa_C1(A) :- atomLambda_19(A).
0.0 atomKappa_C1(A) :- atomLambda_20(A).
0.0 atomKappa_C1(A) :- atomLambda_21(A).
0.0 atomKappa_C1(A) :- atomLambda_22(A).
0.0 atomKappa_C1(A) :- atomLambda_23(A).
0.0 atomKappa_C1(A) :- atomLambda_24(A).
0.0 atomKappa_C1(A) :- atomLambda_25(A).
0.0 atomKappa_C1(A) :- atomLambda_26(A).
0.0 atomKappa_C1(A) :- atomLambda_27(A).
0.0 atomKappa_C1(A) :- atomLambda_28(A).
0.0 atomKappa_C1(A) :- atomLambda_29(A).
0.0 atomKappa_C1(A) :- atomLambda_30(A).
0.0 atomKappa_C1(A) :- atomLambda_31(A).
0.0 atomKappa_C1(A) :- atomLambda_32(A).
0.0 atomKappa_C1(A) :- atomLambda_33(A).
0.0 atomKappa_C1(A) :- atomLambda_34(A).
0.0 atomKappa_C1(A) :- atomLambda_35(A).
0.0 atomKappa_C1(A) :- atomLambda_36(A).
0.0 atomKappa_C1(A) :- atomLambda_37(A).
0.0 atomKappa_C1(A) :- atomLambda_38(A).
0.0 atomKappa_C1(A) :- atomLambda_39(A).
0.0 atomKappa_C1(A) :- atomLambda_40(A).
0.0 atomKappa_C1(A) :- atomLambda_41(A).
0.0 atomKappa_C1(A) :- atomLambda_42(A).
0.0 atomKappa_C1(A) :- atomLambda_43(A).
0.0 atomKappa_C1(A) :- atomLambda_44(A).
0.0 atomKappa_C1(A) :- atomLambda_45(A).
0.0 atomKappa_C1(A) :- atomLambda_46(A).
0.0 atomKappa_C1(A) :- atomLambda_47(A).
0.0 atomKappa_C1(A) :- atomLambda_48(A).
0.0 atomKappa_C1(A) :- atomLambda_49(A).
0.0 atomKappa_C2(A) :- atomLambda_1(A).
0.0 atomKappa_C2(A) :- atomLambda_2(A).
0.0 atomKappa_C2(A) :- atomLambda_3(A).
0.0 atomKappa_C2(A) :- atomLambda_4(A).
0.0 atomKappa_C2(A) :- atomLambda_5(A).
0.0 atomKappa_C2(A) :- atomLambda_6(A).
0.0 atomKappa_C2(A) :- atomLambda_7(A).
0.0 atomKappa_C2(A) :- atomLambda_8(A).
0.0 atomKappa_C2(A) :- atomLambda_9(A).
0.0 atomKappa_C2(A) :- atomLambda_10(A).
0.0 atomKappa_C2(A) :- atomLambda_11(A).
0.0 atomKappa_C2(A) :- atomLambda_12(A).
0.0 atomKappa_C2(A) :- atomLambda_13(A).
0.0 atomKappa_C2(A) :- atomLambda_14(A).
0.0 atomKappa_C2(A) :- atomLambda_15(A).
0.0 atomKappa_C2(A) :- atomLambda_16(A).
0.0 atomKappa_C2(A) :- atomLambda_17(A).
0.0 atomKappa_C2(A) :- atomLambda_18(A).
0.0 atomKappa_C2(A) :- atomLambda_19(A).
0.0 atomKappa_C2(A) :- atomLambda_20(A).
0.0 atomKappa_C2(A) :- atomLambda_21(A).
0.0 atomKappa_C2(A) :- atomLambda_22(A).
0.0 atomKappa_C2(A) :- atomLambda_23(A).
0.0 atomKappa_C2(A) :- atomLambda_24(A).
0.0 atomKappa_C2(A) :- atomLambda_25(A).
0.0 atomKappa_C2(A) :- atomLambda_26(A).
0.0 atomKappa_C2(A) :- atomLambda_27(A).
0.0 atomKappa_C2(A) :- atomLambda_28(A).
0.0 atomKappa_C2(A) :- atomLambda_29(A).
0.0 atomKappa_C2(A) :- atomLambda_30(A).
0.0 atomKappa_C2(A) :- atomLambda_31(A).
0.0 atomKappa_C2(A) :- atomLambda_32(A).
0.0 atomKappa_C2(A) :- atomLambda_33(A).
0.0 atomKappa_C2(A) :- atomLambda_34(A).
0.0 atomKappa_C2(A) :- atomLambda_35(A).
0.0 atomKappa_C2(A) :- atomLambda_36(A).
0.0 atomKappa_C2(A) :- atomLambda_37(A).
0.0 atomKappa_C2(A) :- atomLambda_38(A).
0.0 atomKappa_C2(A) :- atomLambda_39(A).
0.0 atomKappa_C2(A) :- atomLambda_40(A).
0.0 atomKappa_C2(A) :- atomLambda_41(A).
0.0 atomKappa_C2(A) :- atomLambda_42(A).
0.0 atomKappa_C2(A) :- atomLambda_43(A).
0.0 atomKappa_C2(A) :- atomLambda_44(A).
0.0 atomKappa_C2(A) :- atomLambda_45(A).
0.0 atomKappa_C2(A) :- atomLambda_46(A).
0.0 atomKappa_C2(A) :- atomLambda_47(A).
0.0 atomKappa_C2(A) :- atomLambda_48(A).
0.0 atomKappa_C2(A) :- atomLambda_49(A).
0.0 atomKappa_C3(A) :- atomLambda_1(A).
0.0 atomKappa_C3(A) :- atomLambda_2(A).
0.0 atomKappa_C3(A) :- atomLambda_3(A).
0.0 atomKappa_C3(A) :- atomLambda_4(A).
0.0 atomKappa_C3(A) :- atomLambda_5(A).
0.0 atomKappa_C3(A) :- atomLambda_6(A).
0.0 atomKappa_C3(A) :- atomLambda_7(A).
0.0 atomKappa_C3(A) :- atomLambda_8(A).
0.0 atomKappa_C3(A) :- atomLambda_9(A).
0.0 atomKappa_C3(A) :- atomLambda_10(A).
0.0 atomKappa_C3(A) :- atomLambda_11(A).
0.0 atomKappa_C3(A) :- atomLambda_12(A).
0.0 atomKappa_C3(A) :- atomLambda_13(A).
0.0 atomKappa_C3(A) :- atomLambda_14(A).
0.0 atomKappa_C3(A) :- atomLambda_15(A).
0.0 atomKappa_C3(A) :- atomLambda_16(A).
0.0 atomKappa_C3(A) :- atomLambda_17(A).
0.0 atomKappa_C3(A) :- atomLambda_18(A).
0.0 atomKappa_C3(A) :- atomLambda_19(A).
0.0 atomKappa_C3(A) :- atomLambda_20(A).
0.0 atomKappa_C3(A) :- atomLambda_21(A).
0.0 atomKappa_C3(A) :- atomLambda_22(A).
0.0 atomKappa_C3(A) :- atomLambda_23(A).
0.0 atomKappa_C3(A) :- atomLambda_24(A).
0.0 atomKappa_C3(A) :- atomLambda_25(A).
0.0 atomKappa_C3(A) :- atomLambda_26(A).
0.0 atomKappa_C3(A) :- atomLambda_27(A).
0.0 atomKappa_C3(A) :- atomLambda_28(A).
0.0 atomKappa_C3(A) :- atomLambda_29(A).
0.0 atomKappa_C3(A) :- atomLambda_30(A).
0.0 atomKappa_C3(A) :- atomLambda_31(A).
0.0 atomKappa_C3(A) :- atomLambda_32(A).
0.0 atomKappa_C3(A) :- atomLambda_33(A).
0.0 atomKappa_C3(A) :- atomLambda_34(A).
0.0 atomKappa_C3(A) :- atomLambda_35(A).
0.0 atomKappa_C3(A) :- atomLambda_36(A).
0.0 atomKappa_C3(A) :- atomLambda_37(A).
0.0 atomKappa_C3(A) :- atomLambda_38(A).
0.0 atomKappa_C3(A) :- atomLambda_39(A).
0.0 atomKappa_C3(A) :- atomLambda_40(A).
0.0 atomKappa_C3(A) :- atomLambda_41(A).
0.0 atomKappa_C3(A) :- atomLambda_42(A).
0.0 atomKappa_C3(A) :- atomLambda_43(A).
0.0 atomKappa_C3(A) :- atomLambda_44(A).
0.0 atomKappa_C3(A) :- atomLambda_45(A).
0.0 atomKappa_C3(A) :- atomLambda_46(A).
0.0 atomKappa_C3(A) :- atomLambda_47(A).
0.0 atomKappa_C3(A) :- atomLambda_48(A).
0.0 atomKappa_C3(A) :- atomLambda_49(A).
0.0 atomKappa_C4(A) :- atomLambda_1(A).
0.0 atomKappa_C4(A) :- atomLambda_2(A).
0.0 atomKappa_C4(A) :- atomLambda_3(A).
0.0 atomKappa_C4(A) :- atomLambda_4(A).
0.0 atomKappa_C4(A) :- atomLambda_5(A).
0.0 atomKappa_C4(A) :- atomLambda_6(A).
0.0 atomKappa_C4(A) :- atomLambda_7(A).
0.0 atomKappa_C4(A) :- atomLambda_8(A).
0.0 atomKappa_C4(A) :- atomLambda_9(A).
0.0 atomKappa_C4(A) :- atomLambda_10(A).
0.0 atomKappa_C4(A) :- atomLambda_11(A).
0.0 atomKappa_C4(A) :- atomLambda_12(A).
0.0 atomKappa_C4(A) :- atomLambda_13(A).
0.0 atomKappa_C4(A) :- atomLambda_14(A).
0.0 atomKappa_C4(A) :- atomLambda_15(A).
0.0 atomKappa_C4(A) :- atomLambda_16(A).
0.0 atomKappa_C4(A) :- atomLambda_17(A).
0.0 atomKappa_C4(A) :- atomLambda_18(A).
0.0 atomKappa_C4(A) :- atomLambda_19(A).
0.0 atomKappa_C4(A) :- atomLambda_20(A).
0.0 atomKappa_C4(A) :- atomLambda_21(A).
0.0 atomKappa_C4(A) :- atomLambda_22(A).
0.0 atomKappa_C4(A) :- atomLambda_23(A).
0.0 atomKappa_C4(A) :- atomLambda_24(A).
0.0 atomKappa_C4(A) :- atomLambda_25(A).
0.0 atomKappa_C4(A) :- atomLambda_26(A).
0.0 atomKappa_C4(A) :- atomLambda_27(A).
0.0 atomKappa_C4(A) :- atomLambda_28(A).
0.0 atomKappa_C4(A) :- atomLambda_29(A).
0.0 atomKappa_C4(A) :- atomLambda_30(A).
0.0 atomKappa_C4(A) :- atomLambda_31(A).
0.0 atomKappa_C4(A) :- atomLambda_32(A).
0.0 atomKappa_C4(A) :- atomLambda_33(A).
0.0 atomKappa_C4(A) :- atomLambda_34(A).
0.0 atomKappa_C4(A) :- atomLambda_35(A).
0.0 atomKappa_C4(A) :- atomLambda_36(A).
0.0 atomKappa_C4(A) :- atomLambda_37(A).
0.0 atomKappa_C4(A) :- atomLambda_38(A).
0.0 atomKappa_C4(A) :- atomLambda_39(A).
0.0 atomKappa_C4(A) :- atomLambda_40(A).
0.0 atomKappa_C4(A) :- atomLambda_41(A).
0.0 atomKappa_C4(A) :- atomLambda_42(A).
0.0 atomKappa_C4(A) :- atomLambda_43(A).
0.0 atomKappa_C4(A) :- atomLambda_44(A).
0.0 atomKappa_C4(A) :- atomLambda_45(A).
0.0 atomKappa_C4(A) :- atomLambda_46(A).
0.0 atomKappa_C4(A) :- atomLambda_47(A).
0.0 atomKappa_C4(A) :- atomLambda_48(A).
0.0 atomKappa_C4(A) :- atomLambda_49(A).
0.0 bondKappa_C1(A) :- bondLambda_1(A).
0.0 bondKappa_C1(A) :- bondLambda_2(A).
0.0 bondKappa_C1(A) :- bondLambda_3(A).
0.0 bondKappa_C1(A) :- bondLambda_4(A).
0.0 bondKappa_C1(A) :- bondLambda_5(A).
0.0 bondKappa_C2(A) :- bondLambda_1(A).
0.0 bondKappa_C2(A) :- bondLambda_2(A).
0.0 bondKappa_C2(A) :- bondLambda_3(A).
0.0 bondKappa_C2(A) :- bondLambda_4(A).
0.0 bondKappa_C2(A) :- bondLambda_5(A).
